Django==4.0
djangorestframework==3.14.0
djangorestframework_simplejwt==5.3.1
docxtpl==0.18.0
Pillow==11.2.1
psycopg2==2.9.9
pydantic==2.11.5
PyJWT==2.8.0
PyJWT==2.10.1
pymongo==3.12.1
python_docx==1.1.2
pytz==2024.1
